@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
    font-family: "Outfit", sans-serif;
}

@theme {
    --color-primary: #1d3aa7;
    --color-primary-dull: #8b9dc3;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}